<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @garden.type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @garden.address %>
</p>

<ul>
  <% @garden.plants.each do |plant| %>
    <li>
      <%= plant.name %>
      <img src="<%= plant.image %>" alt="" height="100">
      <%= link_to 'Delete Plant', plant_path(plant), method: :delete, data: { confirm: 'Are you sure sure?' }%>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
